/* .home-container {
  background-image: url('../src/storage/Sons\ of\ the\ Forest\ Screenshot\ 2025.12.18\ -\ 21.09.23.84.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.header-box, .league-info {
  box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);
}

.img-expanded {
  max-width: 90vw;   /* не більше ширини вікна */
  max-height: 90vh;  /* не більше висоти вікна */
  margin: auto;
}

/* .huge-new {
  background-image: url('./storage/new1.jpg');
  background-repeat: no-repeat;
} */
/* 
.top-left-new {
  background-image: url('./storage/new2.jpg');
  background-repeat: no-repeat;
} */

/* .little-new {
  background-image: url('./storage/new3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .bottom-side-new {
  background-image: url('./storage/new-4.png');
  background-size: cover;
  background-repeat: no-repeat;
} */

.league-table {
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr); /* rank + 5 stats */
  gap: 8px;
  max-width: 500px;
  margin: 20px auto;
  font-family: sans-serif;
}

.header, .cell {
  text-align: center;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}
